 .events-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("D:\EDUC\2ndYEAR\Programming\4th sem\DanceClubManagementSystem\FRONTEND\dcms\src\Assets\2.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
  }
  
  .event-card {
    margin-top: 15px;
    background-color: #dddddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: 400px;
  }
  
  .event-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .event-date {
    font-style: italic;
    margin-bottom: 10px;
  }
  
  .event-description {
    margin-bottom: 10px;
  }
  
  .event-button {
    background-color: #dddddd;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .event-button:hover {
    background-color: #cccccc;
  }


 
