/* html {
  background-image: url("D:\EDUC\2ndYEAR\Programming\4th sem\DanceClubManagementSystem\FRONTEND\dcms\src\Assets\2.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
}
.mainArea {
  background-image: url("D:\EDUC\2ndYEAR\Programming\4th sem\DanceClubManagementSystem\FRONTEND\dcms\src\Assets\2.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
} */
.gradient-divider {
  height: 2px;
  background: linear-gradient(to bottom,#6672ea,#4cb0e8);
}

html{
  background-color:linear-gradient(to bottom,#6672ea,#4cb0e8);
}